body {
  font-family: 'Inter', sans-serif;
  background-color: #e5e5e5;
  margin: 0;
}

::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
}
